# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Cython debug symbols
cython_debug/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
env/
venv/
.venv/
.conda/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm / VSCode
.idea/
.vscode/

# Logs
*.log

# OS files
.DS_Store

# Environment variables
.env

# Saved conversation outputs
saved_conversations/
saved_chats/

# Python cache
*.pyc